body{
    background-image:url('imagens/Set.png');
}

.fundo-nav{
    background-color: darkred;
}

.btn-primary{
  background-color: rgb(0, 119, 6);
}

header {
    background-color:transparent;
}

main {
    background: rgba(58, 58, 233, 0.452);
    margin-top: 30px;
    border-top: 5px solid white;
}

footer {
    background-color: rgba(139, 0, 0, 0.335);
    padding: 15px;
    border-top: 5px solid white;
}

.texto-header{
   position: relative;
   top: 0%;
   text-align: center;
}

.imgborda{
    margin: 2% 2%;
}

.produtosm{
    background-color: rgba(14, 13, 13, 0.555);
    width:300px;
    height:380px;
    border: 15px solid rgb(78, 77, 77);
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

.produtosm22{
    background-color: rgba(14, 13, 13, 0.555);
    width:300px;
    height:370px;
    border: 15px solid rgb(78, 77, 77);
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

.produtoprincipal{
    background-color: rgba(14, 13, 13, 0.555);
    width:480px;
    height:690px;
    border: 15px solid rgb(78, 77, 77);
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

.sitero{
    width: 70px;
    margin-right:15px;
}

button{
    background-color: black;
    color: white;
    width: 120px;
    height: 50px;
    text-align: center;
    border: 5px solid gray;
    line-height: 40px;
    display: inline-block;
}

.botao{
    background-color: black;
    color: white;
    width: 120px;
    height: 50px;
    text-align: center;
    border: 5px solid gray;
    line-height: 40px;
    display: inline-block;
}


/*-------------------------------Animação----------------------------------------*/

#slider{
    position:absolute;
    right: 0;
    background: transparent;
    width: 50px;
    height: 50px;
    animation: anima 4s linear infinite;
  }
  
  #slider::after{
    content:"";
    position: fixed;
    left:500vw;
    background: transparent;
    width: 50px;
    height:50px;
  }
  
  @keyframes anima{
    from {left: 0}
    to {left: 100%}
  }
